<!-- Dropdown Card Example -->
<div class="card shadow mb-4">
  <!-- Card Header - Dropdown -->
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">Tipificação <%= @tipificacao.tipo %></h6>
    <div class="dropdown no-arrow">
      <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
        <div class="dropdown-header">Ações:</div>
        <%= link_to "Editar dados", edit_tipificacao_path(@tipificacao), class: "dropdown-item" %>
        <%= link_to "Excluir", @tipificacao, { class: "dropdown-item", :method => :delete, confirm: "Tem certeza que deseja excluir o(a) #{controller_name.singularize} #{@tipificacao.tipo}?" } %>
      </div>
    </div>
  </div>

  <!-- Card Body -->
  <div class="card-body">
  	<div class="form-group row">
  	<div class="col-sm-12 mb-3 mb-sm-0">
     	<ul class="list-group">
	      <li class="list-group-item"><b>Descrição:</b> <%= @tipificacao.descricao ? @tipificacao.descricao : "Sem descrição cadastrada." %></li>
	    </ul>
	  </div>
	</div>

</div>